
.col-md-4{
      
    background-color:burlywood;
    padding: 30px,50px;
    margin: 5%;
    height: 50%;;
    
}

.col-md-4 heading{

    text-decoration-color: black;

}

.container-fluid{

    background-image: url("../../assets/hall1.jpg");
}